div(id="ss-navbar")
  ul
    li
      a(id="id-dashboard" href="/")
        i(class="icon-vm_font_dashboard" aria-hidden="true")
        span dashboard

    li
      a(id="id-vendors" href="/")
        i(class="icon-Design" aria-hidden="true")
        span vendors

    li
      a(id="id-locations" href="/")
        i(class="icon-vm_font_location" aria-hidden="true")
        span locations

    li
      a(id="id-pickups" href="/")
        i(class="icon-vm_font_pickups" aria-hidden="true")
        span pickups

    li
      a(id="id-settings" href="/")
        i(class="icon-vm_font_settings" aria-hidden="true")
        span settings
