doctype transitional
html
  include ../partials/head.pug
  body

    div(id="login-container" class="fluid-container")

      img(id="login-brand-img" src="img/brand.png")

      block content

  script(src="")
