#headbar {
  @include navbar-defaults();
  border-bottom: 1px solid $border-top-color;
  height: 75px;
  top: 0;

  ul {
    @include navbar-unordered-list();
    position: absolute;
    width: 100%;
    margin: 0;
    top: 0;
    height: 100%;

    li {
      position: relative;

      a {
        background-color: coral;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        cursor: pointer;
        z-index: 10;
        font-size: 28px;
        padding-top: 24px;
      }
    }
    li:nth-child(2) {
      flex: 4;
      font-size: 20px;
      margin-top: 20px;
      display: block;
    }
    li:first-child {
      background-color: #8fff00;
      flex: 1;
    }
    li:last-child {
      background-color: #8fff00;
      flex: 1;
    }
  }
}
