
#ss-navbar {
  @include navbar-defaults();
  border-top: 1px solid $border-top-color;
  bottom: 0;
  height: 110px;

  ul {
    @include navbar-unordered-list();

    li {
      border-right: 1px solid $border-top-color;
      flex-basis: 25%;

      a {
        color: $anchor-hover-color;

        i {
          display: block;
          font-size: 38px;
          height: 50px;
          margin: 10px auto;
          width: 50px;
        }
        i:before {
          display: block;
          padding-top: 7px;
        }
      }
      a:hover {
        color: $anchor-hover-color;
        text-decoration: none;
      }
    }
  }
}
