
#ss-navbar {
  background-color: #ECECEC;
  border-top: 1px solid #D4D4D4;
  bottom: 0;
  height: 110px;
  position: absolute;
  width: 100%;
  z-index: 100;

  ul {
    -webkit-padding-start: 0;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;

    li {
      border-right: 1px solid #D4D4D4;
      flex-basis: 25%;

      a {
        color: #6A6A6A;

        i {
          display: block;
          font-size: 38px;
          height: 50px;
          margin: 10px auto;
          width: 50px;
        }
        i:before {
          display: block;
          padding-top: 7px;
        }
      }
      a:hover {
        color: #9A9A9A;
        text-decoration: none;
      }
    }
  }
}
