#login-container {
  background-color: #B0EAFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23ffffff' fill-opacity='0.27'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%; }
  #login-container #login-brand-img {
    display: block;
    margin: 200px auto 0px;
    padding: 20px;
    position: relative;
    width: 50%;
    z-index: 1; }
  #login-container #forgot-password {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #FFF;
    font-weight: normal;
    font-size: 11px;
    padding: 10px 0; }
  #login-container #msgs {
    background-color: rgba(220, 53, 69, 0.7);
    display: block;
    padding: 5px 20px;
    color: #ffffff; }
  #login-container form {
    background-color: transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1; }
    #login-container form .form-group {
      background-color: rgba(255, 255, 255, 0.75);
      padding: 15px 10px; }
      #login-container form .form-group label {
        font-size: 11px;
        padding-left: 10px; }
      #login-container form .form-group input {
        background-color: rgba(255, 255, 255, 0);
        border: none; }
    #login-container form #form-password {
      margin-bottom: 0; }
    #login-container form #form-submit {
      background-color: #393c66;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%237c80b0' fill-opacity='0.12'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
      margin-bottom: 0; }
      #login-container form #form-submit button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 32px;
        width: 100%; }

#ss-navbar {
  background-color: #ECECEC;
  border-top: 1px solid #D4D4D4;
  bottom: 0;
  height: 110px;
  position: absolute;
  width: 100%;
  z-index: 100; }
  #ss-navbar ul {
    -webkit-padding-start: 0;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center; }
    #ss-navbar ul li {
      border-right: 1px solid #D4D4D4;
      flex-basis: 25%; }
      #ss-navbar ul li a {
        color: #6A6A6A; }
        #ss-navbar ul li a i {
          display: block;
          font-size: 38px;
          height: 50px;
          margin: 10px auto;
          width: 50px; }
        #ss-navbar ul li a i:before {
          display: block;
          padding-top: 7px; }
      #ss-navbar ul li a:hover {
        color: #9A9A9A;
        text-decoration: none; }

@font-face {
  font-family: 'vendormngmnt';
  src: url("../fonts/vendormngmnt.eot?660h98");
  src: url("../fonts/vendormngmnt.eot?660h98#iefix") format("embedded-opentype"), url("../fonts/vendormngmnt.ttf?660h98") format("truetype"), url("../fonts/vendormngmnt.woff?660h98") format("woff"), url("../fonts/vendormngmnt.svg?660h98#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vendormngmnt' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-vm_font_pickups:before {
  content: "\e903"; }

.icon-vm_font_settings:before {
  content: "\e904"; }

.icon-Design:before {
  content: "\e900"; }

.icon-vm_font_dashboard:before {
  content: "\e901"; }

.icon-vm_font_location:before {
  content: "\e902"; }
